/**
 * generic.scss
 */

// Container
.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $base-max-width;
}

// Header
.header {
  &__heading{
    font-size: 2.4rem;
  }

  &__intro {
    font-size: 1.6rem;
    color: $color--primary;
  }
}

// Example area
.example {
  display: flex;
  padding: 1rem;
  border: 1px solid #000;

  &--centered {
    align-items: center;
    justify-content: center;
  }
}
